* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
    user-select: none;
    background: #1C1C20;
}



::-webkit-scrollbar {
    width: 0;
  }


.nav-bar {
    height: 35vh;
}

.about ul {
	display: flex;
	padding-top: 20px;
	list-style: none;
	font-size: 28px;
}

.about ul li a {
    letter-spacing: 60px;
    display: block;
    color: #FFFDFA;
    float: right;
    transition: 0.4s ease-in;
    text-decoration: none;
}

.about ul li a:hover {
    color: #8739FA;
    transition: 0.4s ease-in;
}


.header {
    font-size: 25px;
}

.header .name h1 {
    font-size: 50px;
    color: #FFFDFA;
    letter-spacing: 1px;
}


@media (max-width: 767px){
    #div-1 {
        text-align: center;
        letter-spacing: 1px;
        font-size: 16px;
    }
}

.header .name h3 {
    color: #97978C;
    padding-bottom: 15px;
    padding-top: 15px;
}

.header .name p {
    color: #FFFDFA;
    padding-bottom: 20px;
    line-height: 30px;
}

#button {
    align-items: center;
    background-color: #FFFDFA;
    border: 1px solid #1C1C20;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #252525;
    cursor: pointer;
    letter-spacing: 3px;
    fill: #252525;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    height: 48px;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.6s ease;
    touch-action: manipulation;
}

#button:hover {
    background-color: #8739FA;
    color: white;
}

@media (max-width: 767px){
    #project-1 {
   padding-bottom: 50px;
    }
}

@media (max-width: 767px){
    #prvi-h1 {
   text-align: center;
    }
}



@media (max-width: 767px){
    #about {
        align-items: center;
        vertical-align: center;
        justify-content: center;
        margin: auto;
        display: flex;
        padding-left: 50px;
    }
}

@media (max-width: 767px){
    #nav-bar {
        height: 250px;
    }
}

@media (max-width: 767px){
    #img1 {
        padding-top: 100px;
        border-radius: 0px;
    }
}


@media (max-width: 767px){
    #about-me-id {
      font-size: 30px;
    }
}

#img1 {
    animation: MoveUpDown 1s linear infinite;
}


@media (max-width: 767px){
    #priv-res {
        font-size: 23px;
    }
}

@media (max-width: 767px){
    #padding-button{
        padding-bottom: 50px;
    }
}



@media (max-width: 767px){
    #priv-res1 {
        font-size: 23px;
        letter-spacing: 0;
    }
}

.slika {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.testimonials:nth-of-type(2) p.show {
    transition-delay: 0.5s;
}

.testimonials:nth-of-type(3) p.show {
    transition-delay: 1s;
}

.skills {
    padding-top: 100px;
}


.skills .skill1 i {
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
    padding-bottom: 30px;
   font-size: 40px;
   transition: 0.3s ease-in;
   text-transform: uppercase;
}



.skills .skill1 i:hover {
    color: #53B4F5;
    transition: 0.3s ease-in;
    cursor: pointer;
}


.projects {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects h1 {
    text-transform: uppercase;
    font-size: 50px;
    transition: 0.2s ease-in;
    text-align: center;
    padding-bottom: 100px;
}

#webiste-h1 {
    padding-bottom: 40px;
}


.projects .project-1 i {
    font-size: 50px;
    margin-left: 40px;
    letter-spacing: 35px;
    transition: 0.3s ease-in;
    padding-bottom: 40px;
}


.projects .project-1 i:hover {
    color: #53B4F5;
    transition: 0.3s ease-in;
    cursor: pointer;
}

#dugmeta-1 {
    align-items: center;
    background-color: #FFFDFA;
    border: 1px solid #1C1C20;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #252525;
    display: flex;
    display: inline;
    cursor: pointer;
    letter-spacing: 3px;
    fill: #252525;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    letter-spacing: -.8px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 0;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.6s ease;
    touch-action: manipulation; 
}  
  
#dugmeta-1:hover {
    background-color: #8739FA;
    color: white;
}


.o-meni h1::first-letter {
    color: #8739FA;
    font-weight: bold;
    font-size: 75px;
}

.skills h1::first-letter {
    color: #53B4F5;
    font-weight: bold;
    font-size: 75px;
}

#first::first-letter {
    color: #53B4F5;
    font-weight: bold;
    font-size: 75px;
}

.projects .project-1 h1:hover {
    color: #8739FA;
    transition: 0.3s ease-in;
} 

.company-website .company h1 {
    padding-top: 50px;
    color: white;
    font-size: 50px;
}

.company-website .company i {
    color: white;
    transition: 0.6s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    font-size: 30px;
}

.company-website .company i:hover {
    transition: 0.6s ease;
    color: #8739FA;
    cursor: pointer;
}


.company-website, .Law {
    text-align: center;
}

#video {
  transition: 0.6s ease-in;
  cursor: pointer;
}

#e-comm {
    padding-top: 30px;
    color: white;
    font-size: 50px;  
}


#i {
    color: white;
    transition: 0.6s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    font-size: 30px;
}

#i:hover {
    transition: 0.6s ease;
    color: #8739FA;
    cursor: pointer;
}


.custom-shape-divider-bottom-1680806799 {
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1680806799 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 388px;
}

.custom-shape-divider-bottom-1680806799 .shape-fill {
    fill: #8739FA;
}

#span-2 {
    color: #53B4F5;
}



   